<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427300823854-f3mlh5g7mhmumdht44jq6pgr6functp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427300823854-f3mlh5g7mhmumdht44jq6pgr6functp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427300823854-fso9ejcul8tufqkcbk3odk77au6udoqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSMSjnwgYSJn8yntIjVeCQmESca1n0kkc</string>
	<key>GCM_SENDER_ID</key>
	<string>427300823854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mont.surfaces</string>
	<key>PROJECT_ID</key>
	<string>mont-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>mont-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427300823854:ios:4a953d2f724982a73110bf</string>
</dict>
</plist>